.pokedex {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow:
    0 0 30px var(--type-color-1),
    0 0 60px var(--type-color-1) 40;
}

.pokedex::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 1000px;
  background-image: url("/src/assets/pokeball.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.25;
  pointer-events: none;
  z-index: 0;
}

.pokedex > * {
  position: relative;
  z-index: 1;
}

.pokedex-info {
  display: flex;
  flex-direction: row;
}

.pokemon-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 4em;
  line-height: 1.1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#version {
  position: relative;
  top: 15px;
  left: 10px;
  font-size: 1.5em;
}

header p {
  font-size: 2em;
}

.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 10px;
  border-radius: 16px;
  padding: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin: 25px 50px;
}
