.pokedex {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow:
    0 0 30px var(--type-color-1),
    0 0 60px var(--type-color-1) 40;
}

.pokedex::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 1000px;
  background-image: url("/src/assets/pokeball.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  pointer-events: none;
  z-index: 0;
}

.pokedex > * {
  position: relative;
  z-index: 1;
}

.pokedex-info {
  display: flex;
  flex-direction: row;
}

.pokemon-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header p {
  font-size: 1.5em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
